{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block body %}
{% for post in posts %}
<article class="card">
  <div class="card-content">
    <p class="title">
      {{post.title}}
    </p>
    <p class="title is-4">
      {{post.author}}
    </p>
    <p class="subtitle">
      {{post.content}}
    </p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        Date Posted: <time datetime="{{post.date_posted}}">{{post.date_posted}}</time>
      </span>
    </p>
    <p class="card-footer-item">
      <span>
        <a href="#">View More</a>
      </span>
    </p>
  </footer>
</article>
{% endfor %}
<aside class="menu is-pulled-right mt-10">
  <p class="menu-label has-text-centered">
    General
  </p>
  <ul class="menu-list">
    <li><a>Latest Posts</a></li>
    <li><a>Announcements</a></li>
    <li><a>Calendars</a></li>
    <li><a>Etc</a></li>
  </ul>
</aside>

{% endblock %}